@model BrewersBuddy.Models.Recipe

@{
    ViewBag.Title = "Create";
}

<h2>Create Recipe</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="content row">
         <div class="span9">

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextArea("Description", new { rows=10, columns=40 })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
                <div class="editor-label">
            @Html.LabelFor(model => model.Prep)
        </div>
        <div class="editor-field">
            @Html.TextArea("Prep", new { rows=10, columns=40 })
            @Html.ValidationMessageFor(model => model.Prep)
        </div>

                        <div class="editor-label">
            @Html.LabelFor(model => model.Process)
        </div>
        <div class="editor-field">
            @Html.TextArea("Process", new { rows=10, columns=40 })
            @Html.ValidationMessageFor(model => model.Process)
        </div>
                        <div class="editor-label">
            @Html.LabelFor(model => model.Finishing)
        </div>
        <div class="editor-field">
            @Html.TextArea("Finishing", new { rows=10, columns=40 })
            @Html.ValidationMessageFor(model => model.Finishing)
        </div>
                        <div class="editor-label">
            @Html.LabelFor(model => model.Costs)
        </div>
        <div class="editor-field">
            @Html.TextArea("Costs", new { rows=10, columns=40 })
            @Html.ValidationMessageFor(model => model.Costs)
        </div>
        <p>
            <p>
                <input class="btn btn-success" type="submit" value="Save" />
                @Html.ActionLink("Cancel", "Index", "Recipe", null, new { @class = "btn btn-danger" })
            </p>
        </p>
    </div>
   </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
