@model BrewersBuddy.Models.Recipe

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Recipe</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextArea("Description", new { rows=10, columns=40 })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
                <div class="editor-label">
            @Html.LabelFor(model => model.Preparation)
        </div>
        <div class="editor-field">
            @Html.TextArea("Preparation", new { rows=10, columns=40 })
            @Html.ValidationMessageFor(model => model.Preparation)
        </div>
                        <div class="editor-label">
            @Html.LabelFor(model => model.Ingredient)
        </div>
        <div class="editor-field">
            @Html.TextArea("Ingredient", new { rows=10, columns=40 })
            @Html.ValidationMessageFor(model => model.Ingredient)
        </div>
                        <div class="editor-label">
            @Html.LabelFor(model => model.Ferment)
        </div>
        <div class="editor-field">
            @Html.TextArea("Ferment", new { rows=10, columns=40 })
            @Html.ValidationMessageFor(model => model.Ferment)
        </div>
                        <div class="editor-label">
            @Html.LabelFor(model => model.Finish)
        </div>
        <div class="editor-field">
            @Html.TextArea("Finish", new { rows=10, columns=40 })
            @Html.ValidationMessageFor(model => model.Finish)
        </div>
                        <div class="editor-label">
            @Html.LabelFor(model => model.Cost)
        </div>
        <div class="editor-field">
            @Html.TextArea("Cost", new { rows=10, columns=40 })
            @Html.ValidationMessageFor(model => model.Cost)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
