@model BrewersBuddy.Models.Recipe

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Recipe</legend>

<table>
    <tr><td>
            <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.Name)</b>&nbsp;&nbsp;
            </div>
        </td><td>
            <div class="display-field">
            @Html.DisplayFor(model => model.Name)
            </div>
        </td>
    </tr>
    <tr><td>
            <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.AddDate)</b>&nbsp;&nbsp;
            </div>
        </td><td>
            <div class="display-field">
            @Html.DisplayFor(model => model.AddDate)
            </div>
        </td>
    </tr>
</table>

<br>    
</fieldset>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> <br><br>
        @Html.ActionLink("Back to List", "Index")
    </p>
}
