@model BrewersBuddy.Models.Recipe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<table>

    <tr>
        <th class="display-label">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th width="30%"class="display-label">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th width="30%"class="display-label">
            @Html.DisplayNameFor(model => model.Prep)
        </th>
                <th width="30%"class="display-label">
            @Html.DisplayNameFor(model => model.Process)
        </th>
                <th width="30%"class="display-label">
            @Html.DisplayNameFor(model => model.Finishing)
        </th>
                <th width="30%"class="display-label">
            @Html.DisplayNameFor(model => model.Costs)
        </th>
        <th width="30%" class="display-label"> @Html.DisplayNameFor(model => model.AddDate)
        </th>
    </tr>

    <tr>
        <td align="center">
            @Html.DisplayFor(model => model.Name)
        </td>
        <td align="center">
            @Html.DisplayFor(model => model.Description)
        </td>
        <td align="center">
             @Html.DisplayNameFor(model => model.Prep)
        </td>
                <td align="center">
             @Html.DisplayNameFor(model => model.Process)
        </td>
                <td align="center">
             @Html.DisplayNameFor(model => model.Finishing)
        </td>
                <td align="center">
             @Html.DisplayNameFor(model => model.Costs)
        </td>
        <td align="center">
            @Html.DisplayFor(model => model.AddDate)
        </td>
    </tr>
</table>

<br>


<p>
    @Html.ActionLink("Back to List", "Index")
</p>