@model BrewersBuddy.Models.Recipe

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Recipe Information</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RecipeInfo</legend>

        @if (! String.IsNullOrEmpty(TempData["Success"].ToString()))
        {
            <div class="success">
                <p style="color:red;font-size:x-large"> @TempData["Success"] </p>
            </div>
        }

        @Html.HiddenFor(model => model.RecipeId)
        @Html.HiddenFor(model => model.AddDate)
        @Html.HiddenFor(model => model.OwnerId)
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, new { rows=10, columns=40 })
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Preparation )
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Preparation, new { rows=10, columns=40 })
            @Html.ValidationMessageFor(model => model.Preparation )
        </div>  
                <div class="editor-label">
            @Html.LabelFor(model => model.Ingredient)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Ingredient, new { rows=10, columns=40 })
            @Html.ValidationMessageFor(model => model.Ingredient)
        </div>  
                <div class="editor-label">
            @Html.LabelFor(model => model.Ferment)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Ferment, new { rows=10, columns=40 })
            @Html.ValidationMessageFor(model => model.Ferment)
        </div>  
                <div class="editor-label">
            @Html.LabelFor(model => model.Finish)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Finish, new { rows=10, columns=40 })
            @Html.ValidationMessageFor(model => model.Finish)
        </div>  
                <div class="editor-label">
            @Html.LabelFor(model => model.Cost)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Cost, new { rows=10, columns=40 })
            @Html.ValidationMessageFor(model => model.Cost)
        </div>  
        <p>
            <input type="submit" value="Save" />
            <br><br>
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
