@model IEnumerable<BrewersBuddy.Models.UserProfile>

@{
    ViewBag.Title = "SearchIndex";
}

<p> 
    @using (Html.BeginForm("SearchIndex", "Account", FormMethod.Get)){    
         <p> Zip Code: @Html.TextBox("SearchString") <br />   
         <input type="submit" value="Filter" /></p> 
        } 
</p>

@if(Model.Any())
    {
        <h2>Search Results</h2>
    }

<table>
    @if(Model.Any())
    {
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th></th>
    </tr>
    }

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td></td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td></td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        
    </tr>
}
</table>

@if (!Model.Any())
{
    <p style="color:red;font-size:x-large">No Results Found.</p>

}
