@model BrewersBuddy.Models.BatchAction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BatchAction</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ActionDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActionDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PerformerId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PerformerId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ActionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
