@model IEnumerable<BrewersBuddy.Models.BatchAction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PerformerId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PerformerId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ActionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ActionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ActionId })
        </td>
    </tr>
}

</table>
