@model BrewersBuddy.Models.Measurement

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Measurement</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MeasurementDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MeasurementDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Value)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Value)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Measured)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Measured)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
    @Html.ActionLink("Back to Batch", "Details/"+Model.BatchId, "Batch")
    </p>
}
