@model BrewersBuddy.Models.Measurement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Measurement</legend>

    <table>
    <tr><td>
            <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.Name)</b>&nbsp;&nbsp;
            </div>
        </td><td>
            <div class="display-field">
            @Html.DisplayFor(model => model.Name)
            </div>
        </td>
    </tr>
    <tr><td>
            <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.MeasurementDate)</b>&nbsp;&nbsp;
            </div>
        </td><td>
            <div class="display-field">
            @Html.DisplayFor(model => model.MeasurementDate)
            </div>
        </td>
    </tr>
    <tr><td>
            <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.Description)</b>&nbsp;&nbsp;
            </div>
        </td><td>
            <div class="display-field">
            @Html.DisplayFor(model => model.Description)
            </div>
        </td>
    </tr>
    <tr><td>
            <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.Value)</b>&nbsp;&nbsp;
            </div>
        </td><td>
            <div class="display-field">
            @Html.DisplayFor(model => model.Value)
            </div>
        </td>
    </tr>
    <tr><td>
            <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.Measured)</b>&nbsp;&nbsp;
            </div>
        </td><td>
            <div class="display-field">
            @Html.DisplayFor(model => model.Measured)
            </div>
        </td>
    </tr></table>

<br>    
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MeasurementId }) |
    @Html.ActionLink("Back to Batch", "Index")
</p>
