@using BrewersBuddy.Utilities;
@model BrewersBuddy.Models.Batch

@{
    ViewBag.Title = "Create Batch";
}

<div class="row">
	<div class="span9">
		<div class="subhead">
			@Html.ActionLink("< My Batches", "Index", "Batch", null, htmlAttributes: new { @class = "subnav" })
			<h1>Create</h1>
		</div>
	</div>
</div>
<div class="content row">
    <div class="span9">
        @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Type)
            </div>
            <div class="editor-field">
                @Html.EnumDropDownListFor(model => model.Type)
                @Html.ValidationMessageFor(model => model.Type)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="editor-field">
                @Html.TextArea("Description", new { rows=10, columns=40 })
                @Html.ValidationMessageFor(model => model.Description)
            </div>

            <p>
                <input class="btn btn-success" type="submit" value="Save" />
                @Html.ActionLink("Cancel", "Index", "Batch", null, new { @class = "btn btn-danger" })
            </p>
        </fieldset>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
