@model BrewersBuddy.Models.BatchNote

@{
    ViewBag.Title = "DeleteNote";
}

<h2>DeleteNote</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Note</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuthorDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuthorDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Text)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Text)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Details/"+Session["CurrentBatchId"])
    </p>
}
