@model BrewersBuddy.Models.Batch

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Batch</legend>

<table>
    <tr>
        <td>
            <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.Name)</b>&nbsp;&nbsp;
            </div>
        </td>
        <td>
            <div class="display-field">
            @Html.DisplayFor(model => model.Name)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.Type)</b>&nbsp;&nbsp;
            </div>
        </td>
        <td>
            <div class="display-field">
            @Html.DisplayFor(model => model.Type)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.StartDate)</b>&nbsp;&nbsp;
            </div>
        </td>
        <td>
            <div class="display-field">
            @Html.DisplayFor(model => model.StartDate)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.Description)</b>&nbsp;&nbsp;
            </div>
        </td>
        <td>
            <div class="display-field">
            @Html.DisplayFor(model => model.Description)
            </div>
        </td>
    </tr>
</table>

<br>

</fieldset>
<p>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.BatchId }) &nbsp;|&nbsp;
    @Html.ActionLink("Add Note", "AddNote", new { id=Model.BatchId }) &nbsp;|&nbsp;
    @Html.ActionLink("Add Action", "AddAction", new { id=Model.BatchId }) &nbsp;|&nbsp;
    @Html.ActionLink("Add Measurement", "AddMeasurement", new { id=Model.BatchId }) &nbsp;|&nbsp;
    @Html.ActionLink("Rate", "Create", "BatchRating", new { Model.BatchId }, null) &nbsp;|&nbsp; 
    @Html.ActionLink("Back to List", "Index")
</p>

<br>
<h2>Notes</h2>

@foreach (var note in Model.Notes) {
    <table>
        <tr>
            <td>
                @Html.ActionLink("View", "Details", "BatchNote", new { id=note.NoteId }, null)  &nbsp;|&nbsp;
            </td>
            <td>
                @Html.ActionLink("Edit", "EditNote", "BatchNote", new { idNote=note.NoteId, idBatch=Model.BatchId }, null)  &nbsp;|&nbsp;
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteNote", "BatchNote", new { idNote=note.NoteId, idBatch=Model.BatchId }, null)  &nbsp;|&nbsp;&nbsp;
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => note.Title)</b>
            </td>
        </tr>
</table>
}


<br>
<h2>Actions</h2>
@foreach (var action in Model.Actions) {
    <table>
        <tr>
            <td>
                @Html.ActionLink("View", "Details", "BatchAction", new { id=action.ActionId }, null)  &nbsp;|&nbsp;
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "BatchAction", new { idNote=action.ActionId, idBatch=Model.BatchId }, null)  &nbsp;|&nbsp;
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", "BatchAction", new { idNote=action.ActionId, idBatch=Model.BatchId }, null)  &nbsp;|&nbsp;&nbsp;
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => action.Title)</b>
            </td>
        </tr>
</table>
}


   
<br />
<h2>Measurements</h2>
@foreach (var measurement in Model.Measurements) {
<table>
    <tr>
       <!-- this HtmlHelper htmlHelper, string linkText, string actionName, string controllerName, object routeValues, object htmlAttributes-->

        <td>
            @Html.ActionLink("View", "Details", "Measurement", new { id=measurement.MeasurementId }, null)  &nbsp;|&nbsp;
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Measurement", new { id=measurement.MeasurementId }, null)  &nbsp;|&nbsp;
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", "Measurement", new { id=measurement.MeasurementId }, null)  &nbsp;|&nbsp;&nbsp;
        </td>
        <td>
            <b>@Html.DisplayFor(modelItem => measurement.Name)</b>
        </td>
    </tr>
</table>
     
}


