@model BrewersBuddy.Models.Batch

@{
    ViewBag.Title = "Details";
}

<h2 class="display-label">@Html.DisplayFor(model => model.Name)</h2>


<div class="row-fluid">
    <div class="span4">
        <h4>Information</h4>
    </div>
    <div class="span8" >
        @Html.ActionLink("Edit", "Edit", new { id=Model.BatchId }, new { @class = "btn btn-success btn-small" })
        @Html.ActionLink("Delete", "Delete", new { id=Model.BatchId }, new { @class = "btn btn btn-danger btn-small" })
    </div>
</div>

<table class="table table-striped">
    <tr>
        <td>
            <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.Type)</b>&nbsp;&nbsp;
            </div>
        </td>
        <td>
            <div class="display-field">
            @Html.DisplayFor(model => model.Type)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.StartDate)</b>&nbsp;&nbsp;
            </div>
        </td>
        <td>
            <div class="display-field">
            @Html.DisplayFor(model => model.StartDate)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.Description)</b>&nbsp;&nbsp;
            </div>
        </td>
        <td>
            <div class="display-field">
            @Html.DisplayFor(model => model.Description)
            </div>
        </td>
    </tr>
</table>

<br />

<div class="row-fluid">
    <div class="span4">
        <h4>Notes</h4>
    </div>
    <div class="span8" >
        @Html.ActionLink("Add Note", "Create", "BatchNote", new { batchId=Model.BatchId }, new { @class = "btn btn-success btn-small" })
    </div>
</div>

    @if(Model.Notes.Count > 0)
    {
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Summary</th>
                <th colspan="3">Actions</th>
            </tr>
        </thead>
        @foreach (var note in Model.Notes) {
    
            <tr>
                <td>
                    <b>@Html.DisplayFor(modelItem => note.Title)</b>
                </td>
                <td>
                    <b>@Html.DisplayFor(modelItem => note.SummaryText)</b>
                </td>

                <td>
                    @Html.ActionLink("View", "Details", "BatchNote", new { id = note.NoteId }, new { @class = "btn btn-primary" })

                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "BatchNote", new { id=note.NoteId }, new { @class = "btn" })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", "BatchNote", new { id=note.NoteId }, new { @class = "btn btn-danger" })
                </td>
            
            </tr>
        }   
        </table>    
    }
    else
    {
        <p>None</p>
    }



<br />
<div class="row-fluid">
    <div class="span4">
        <h4>Actions</h4>
    </div>
    <div class="span8" >
        @Html.ActionLink("Add Action", "AddAction", new { id=Model.BatchId }, new { @class = "btn btn-success btn-small" })
    </div>
</div>

 @if(Model.Actions.Count > 0)
   {
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Summary</th>
                <th colspan="3">Actions</th>
            </tr>
        </thead>
    @foreach (var action in Model.Actions) {
    
        <tr>
            <td>
                <b>@Html.DisplayFor(modelItem => action.Title)</b>
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => action.SummaryText)</b>
            </td>
            <td>
                @Html.ActionLink("View", "Details", "BatchAction", new { id=action.ActionId }, new { @class = "btn btn-primary" })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "BatchAction", new { id=action.ActionId }, new { @class = "btn" })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", "BatchAction", new { id=action.ActionId }, new { @class = "btn btn-danger" }) 
            </td>
        </tr>
    }
    </table>
 }
else
{
     <p>None</p>
 }

<br />   
<div class="row-fluid">
    <div class="span4">
        <h4>Measurments</h4>
    </div>
    <div class="span8" >
        @Html.ActionLink("Add Measurement", "AddMeasurement", new { id=Model.BatchId }, new { @class = "btn btn-success btn-small" })
    </div>
</div>

 @if(Model.Measurements.Count > 0)
    {
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Summary</th>
            <th>Measured</th>
            <th>Value</th>
            <th colspan="3">Actions</th>
        </tr>
    </thead>
    @foreach (var measurement in Model.Measurements) {
    <tr>
        <td>
            <b>@Html.DisplayFor(modelItem => measurement.Name)</b>
        </td>
        <td>
            <b>@Html.DisplayFor(modelItem => measurement.SummaryText)</b>
        </td>
        <td>
            <b>@Html.DisplayFor(modelItem => measurement.Measured)</b>
        </td>
        <td>
            <b>@Html.DisplayFor(modelItem => measurement.Value)</b>
        </td>
        <td>
            @Html.ActionLink("View", "Details", "Measurement", new { id=measurement.MeasurementId }, new { @class = "btn btn-primary" })
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Measurement", new { id=measurement.MeasurementId }, new { @class = "btn" })
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", "Measurement", new { id=measurement.MeasurementId }, new { @class = "btn btn-danger" })
        </td>
        
    </tr>     
    }
    </table>
 }
else
{
     <p>None</p>
 }

<br />    
@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
