@model BrewersBuddy.Models.Batch

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Batch</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>
    <div class="display-label">
            @Html.DisplayNameFor(model => model.Description)
     </div>
    <div class="display-field-field">
        @Html.DisplayFor(model => model.Description)
    </div>

</fieldset>

<h2>Notes</h2>

@foreach (var note in Model.Notes) {
    <h4>
            @Html.DisplayFor(modelItem => note.Title)
    </h4>
    <p>
            @Html.DisplayFor(modelItem => note.Text)
    </p>
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.BatchId }) |
    @Html.ActionLink("Add Note", "AddNote", new { id=Model.BatchId }) |
    @Html.ActionLink("Rate", "Create", "BatchRating", new { Model.BatchId }, null) | 
    @Html.ActionLink("Back to List", "Index")
</p>
