@model BrewersBuddy.Models.Batch

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Batch</legend>

<table>
    <tr>
        <td>
            <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.Name)</b>
            </div>
        </td>
        <td>
            <div class="display-field">
            @Html.DisplayFor(model => model.Name)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.Type)</b>
            </div>
        </td>
        <td>
            <div class="display-field">
            @Html.DisplayFor(model => model.Type)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.StartDate)</b>
            </div>
        </td>
        <td>
            <div class="display-field">
            @Html.DisplayFor(model => model.StartDate)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.Description)</b>
            </div>
        </td>
        <td>
            <div class="display-field">
            @Html.DisplayFor(model => model.Description)
            </div>
        </td>
    </tr>
</table>

<br />

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.BatchId }) |
    @Html.ActionLink("Add Note", "AddNote", new { id=Model.BatchId }) |
    @Html.ActionLink("Add Action", "AddAction", new { id=Model.BatchId }) |
    @Html.ActionLink("Add Measurement", "AddMeasurement", new { id=Model.BatchId }) |
    @Html.ActionLink("Rate", "Create", "BatchRating", new { Model.BatchId }, null) | 
    @Html.ActionLink("Back to List", "Index")
</p>

<br />
<h2>Notes</h2>

@foreach (var note in Model.Notes) {
    <table>
        <tr>
            <td>
                @Html.ActionLink("View", "Edit", new { id=Model.BatchId })  |
            </td>
            <td>
                @Html.ActionLink("Edit", "EditNote", new { id=note.NoteId })  |
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteNote", new { id=note.NoteId })  |
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => note.Title)</b>
            </td>
        </tr>
</table>
}
    

<br />
<h2>Measurements</h2>
@foreach (var measurement in Model.Measurements) {
<table>
    <tr>
        <td>
            @Html.ActionLink("View", "Edit", new { id=Model.BatchId })  |
        </td>
        <td>
            @Html.ActionLink("Edit", "EditMeasurment", new { id=measurement.MeasurementId })  |
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteMesurment", new { id=measurement.MeasurementId  })  |
        </td>
        <td>
            <b>@Html.DisplayFor(modelItem => measurement.Name)</b>
        </td>
    </tr>
</table>  
}


