@model BrewersBuddy.Models.BatchNote

@{
    ViewBag.Title = "EditNote";
}

<h2>EditNote</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Batch</legend>

        @Html.HiddenFor(model => model.NoteId)
        @Html.HiddenFor(model => model.AuthorId)
        @Html.HiddenFor(model => model.AuthorDate)
        @Html.HiddenFor(model => model.Batch)

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>
        <div class="editor-field">
            @Html.TextArea("Text", new { rows=10, columns=40 })
            @Html.ValidationMessageFor(model => model.Text)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
