@using BrewersBuddy.Utilities;
@model IEnumerable<BrewersBuddy.Models.Batch>

@{
    ViewBag.Title = "All Batches";
}

<div class="row">
	<div class="span9">
		<div class="subhead">
			<!--<a class="subnav">&lt; All Batches</a>-->
			<h1>All Batches</h1>
			<ul class="submenu">
                @Html.SubmenuActionLink("My Batches", "Index", "Batch")
                @Html.SubmenuActionLink("Shared Batches", "Shared", "Batch")
                @Html.SubmenuActionLink("Create New", "Create", "Batch")
			</ul>
		</div>
	</div>
</div>
<div class="content-with-submenu row">
	<div class="span9">
        @if (Model.Count() == 0) {
            <div class="row">
			    <div class="span9">
                    You haven't added any bacthes yet. @Html.ActionLink("Create", "Create") one now.
                </div>
            </div>
        }
        <div class="batch-list">
        @foreach (var item in Model) {
		    <div class="row">
			    <div class="span1">
				    @Html.BatchType(item.Type)
			    </div>
			    <div class="span8">
				    <p>@Html.ActionLink(item.Name, "Details", new { id=item.BatchId })</p>
				    <p>
					    @Html.DisplayFor(modelItem => item.Description)
				    </p>
			    </div>
		    </div>
        }
        </div>
    </div>
</div>