@using BrewersBuddy.Utilities;

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <title>@ViewBag.Title &middot; Brewers Buddy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

	@Styles.Render("~/Content/css")
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
                @Html.ActionLink("BrewersBuddy", "Index", new { controller = "Home" }, htmlAttributes: new { @class = "brand" })
				<ul class="nav">
                    @Html.MenuActionLink("Recipes", "Index", "Recipe")
                    @Html.MenuActionLink("Batches", "Index", "Batch")
                    @Html.MenuActionLink("Cellar", "Index", "Cellar")
                    @Html.MenuActionLink("Users", "SearchIndex", "Account")
				</ul>
                @Html.Partial("_LoginPartial")
                @Html.Partial("_HelpPartial")
			</div>
		</div>
	</div>
	<div class="container main">
		@RenderBody()

        <hr>

        <div class="footer">
            <p>&copy; PSU SWENG 500 Team 3</p>
        </div>
	</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>