@if (Request.IsAuthenticated) {
    <ul class="nav pull-right">
		<li><a href="@(Url.Action("Edit", "Account"))" title="Account"><i class="icon-user"></i> @User.Identity.Name</a></li>
		<li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            }
		</li>
	</ul>
} else {
    <ul class="nav pull-right">
		<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
	</ul>
}
