@model BrewersBuddy.Models.BatchNote

@{
    ViewBag.Title = "Delete";
}

<h2>DeleteNote</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Note</legend>

<table>
    <tr><td>
            <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.Title)</b>&nbsp;&nbsp;
            </div>
        </td><td>
            <div class="display-field">
            @Html.DisplayFor(model => model.Title)
            </div>
        </td>
    </tr>
    <tr><td>
            <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.AuthorDate)</b>&nbsp;&nbsp;
            </div>
        </td><td>
            <div class="display-field">
            @Html.DisplayFor(model => model.AuthorDate)
            </div>
        </td>
    </tr>
    <tr><td>
            <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.Text)</b>&nbsp;&nbsp;
            </div>
        </td><td>
            <div class="display-field">
            @Html.DisplayFor(model => model.Text)
            </div>
        </td>
    </tr>
</table>

<br>    
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> <br><br>
    @Html.ActionLink("Back to Batch", "Details/"+Session["CurrentBatchId"], "Batch")
    </p>
}
