@model BrewersBuddy.Models.BatchNote

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BatchNote</legend>

    <table>
    <tr><td>
            <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.Title)</b>&nbsp;&nbsp;
            </div>
        </td><td>
            <div class="display-field">
            @Html.DisplayFor(model => model.Title)
            </div>
        </td>
    </tr>
    <tr><td>
            <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.AuthorDate)</b>&nbsp;&nbsp;
            </div>
        </td><td>
            <div class="display-field">
            @Html.DisplayFor(model => model.AuthorDate)
            </div>
        </td>
    </tr>
    <tr><td>
            <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.Text)</b>&nbsp;&nbsp;
            </div>
        </td><td>
            <div class="display-field">
            @Html.DisplayFor(model => model.Text)
            </div>
        </td>
    </tr>
    <tr><td>
            <div class="display-label">
            <b>@Html.DisplayNameFor(model => model.AuthorId)</b>&nbsp;&nbsp;
            </div>
        </td><td>
            <div class="display-field">
            @Html.DisplayFor(model => model.AuthorId)
            </div>
        </td>
    </tr>
</table>

<br>    
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.NoteId }) &nbsp;|&nbsp;
    @Html.ActionLink("Back to Batch", "Details/"+Model.BatchId, "Batch")
</p>
