@model BrewersBuddy.Models.UserProfile
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Account Information</h2>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AccountInfo</legend>

        @if (! String.IsNullOrEmpty(TempData["Success"].ToString()))
        {
            <div class="success">
                <p style="color:red;font-size:x-large"> @TempData["Success"] </p>
            </div>
        }

        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.UserName)

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.State)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.State)
            @Html.ValidationMessageFor(model => model.State)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.Zip)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Zip)
            @Html.ValidationMessageFor(model => model.Zip)
        </div>
                
        <p>
            <input type="submit" value="Save" />
            <br><br>
        </p>

    <table>
        <tr>
            <td>
             @Html.ActionLink("Back", "..")  &nbsp;|&nbsp;
            </td>
           <td>
             @Html.ActionLink("Change Password", "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })  &nbsp;|&nbsp;
            </td>
            <td>
             @Html.ActionLink("Delete Account", "Delete")  
            </td>
        </tr>
</table>

    </fieldset>}
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
