@model IEnumerable<BrewersBuddy.Models.UserProfile>

@{
    ViewBag.Title = "SearchIndex";
}

<p style="color: blue; font-size: x-large"><b>Enter one of the following search criteria.</b><br>
</p>

@if ((!(bool)TempData["FirstLoad"]) & !(Model.Any()))
{
    <div class="firstLoad">
        <p style="color: red; font-size: x-large">No Results Found. </p>
    </div>
}

@using (Html.BeginForm("SearchIndex", "Account", FormMethod.Get))
{    
    <table>
        <tr>
            <th>
                Username:
            </th>
            <td align="right">
                @Html.TextBox("username", "") <br>
            </td>
        </tr>
        <tr>
            <th>
                First Name:
            </th>
            <td align="right">
                @Html.TextBox("firstname", "") <br>
            </td>
        </tr>
        <tr>
            <th>
                Last Name:
            </th>
            <td align="right">
                @Html.TextBox("lastname", "") <br>
            </td>
        </tr>
        <tr>
            <th>
                Zip Code:
            </th>
            <td align="right">
                @Html.TextBox("zip", "") <br>
            </td>
        </tr>        
    </table>
    <input type="submit" value="Search" />        
}

@if (Model.Any())
{
    <br>
    <h2>Search Results</h2>
}

<table>
    @if (Model.Any())
    {
        <tr>
            <th width="25%" bgcolor="#87cefa">
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
            <th width="25%" bgcolor="#ffffff">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th></th>
            <th width="25%" bgcolor="#87cefa">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
            <th width="25%" bgcolor="#ffffff">
                @Html.DisplayNameFor(model => model.Email)
            </th>
        </tr>
    }

    @foreach (var item in Model)
    {
        <tr>
            <td align="center" bgcolor="#87cefa">
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td></td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td></td>
            <td align="center" bgcolor="#87cefa">
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td></td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td align="center">
            @Html.ActionLink("Add Friend", "FriendsList",  new { ID = item.UserId })
            </td>
        </tr>
    }
</table>


<br>
<p>
    @Html.ActionLink("Back", "..")
</p>
