@using BrewersBuddy.Models;
@using System.Linq;

@model IEnumerable<BrewersBuddy.Models.UserProfile>

@{
    ViewBag.Title = "Friend Results";
}

<h2>@ViewBag.Title</h2>

@if (Model.Count() == 0)
{ 
    <div>No results found</div>
}
else { 
    <table border="1">
        <tr>
            <th width="25%" bgcolor="#87cefa">
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th width="25%" bgcolor="#ffffff">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th width="25%" bgcolor="#87cefa">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th width="25%" bgcolor="#ffffff">
                @Html.DisplayNameFor(model => model.Email)
            </th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td align="center" bgcolor="#87cefa">
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td align="center" bgcolor="#87cefa">
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td align="center">
            @if (((IEnumerable<int>)ViewBag.FriendIds).Contains(item.UserId))
            {
                <div>Already Friends</div>
            }
            else 
            {
                @Html.ActionLink("Add Friend", "FriendsList",  new { ID = item.UserId })
            }
            </td>
        </tr>
    }
    </table>
}

<br />
<br />

<h3>Search again</h3>

@Html.Partial("_SearchForm")

